body
{
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background: black;
    font-family: 'Lato', sans-serif;
}
nav
{
    width: 100%;
    background: black;
    font-family: 'Lato', sans-serif;
}
.navshow 
{
    display: flex;
    list-style-type: none;
    width: 100%;
    padding: 0;
    height: 100%;
    /* width: 80%;
    margin: 0 auto;
    padding: 0; */
}
.navshow li
{
    background: black;
    flex: 1;
    text-align: center;
    transition: all .2 ease;
}
.navshow li:not(:first-child)
{
    border-left: 2px solid white;
}

.navshow li:hover
{
    background: #e91e63;
    flex: 1.1;
}
.navshow li a
{
    display: block;
    padding: 20px 0;
    color: #fff;
    text-decoration: none;
}
.whiteiconcolor
{
    color:  whitesmoke;
}
label, input
{
    width: 100%;
    padding: 10px 20px;
    background: dodgerblue;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}
@Media (max-width:600px)
{
    label
    {
        display: flex;
        cursor: pointer;
        justify-content: center;
        
    }
    .navshow
    {
        display: none;
        width: 100%;
    }
    ul li
    {
        display: block;
        text-align: center;
    }
    input[type=checkbox]:checked ~ .navshow
    {
        display:block;
        width: 100%;
    }
    .navshow li:not(:first-child)
    {
    border-left: 2px solid black;
    }
}