*
{
    margin: 0;
    padding: 0;
}
body
{
    overflow: hidden;
    /* justify-content: center;
    align-items: center;
    height: 100vh; */
}
/* LANDING PAGE
==================================================== */

section
{
    height: 100vh;
    background: #000;
    /* animation-name: splash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 4s; */
    z-index: 3;
}
section:before
{
    content: '';
    position: absolute;
    top: 20%;
    left: 0;
    width: 100vw;
    height: 50vh;
    background: linear-gradient(to right, #f00, #f00, #0f0, #0ff, #ff0, #0ff);
    mix-blend-mode: color;
    pointer-events: none;
    z-index: 1;
} 
video
{
    object-fit: cover;
}
/* .page-one video
{
    position: absolute;
    object-fit: cover;
    display: block;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
} */
h1
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 5em;
    font-family: 'Yellowtail', cursive;
    /* letter-spacing: 0.01em; */
    z-index: 3;
}
h1 span
{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}
@keyframes animate
{
    0%
    {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%
    {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}

@keyframes fadein
{
    0%
    {
        opacity: 0;
        filter: blur(10px);
    }
    100%
    {
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes fadeopacity
{
    0%
    {
        opacity: 0;
        filter: blur(10px);
    }
    100%
    {
        opacity: 0.7;
        filter: blur(0px)
    }
}



h1 span:nth-child(1)
{
    animation-delay: 1s;
}
h1 span:nth-child(2)
{
    animation-delay: 2s;
}
h1 span:nth-child(3)
{
    animation-delay: 2.5s;
}
h1 span:nth-child(4)
{
    animation-delay: 3s;
}
h1 span:nth-child(5)
{
    animation-delay: 3.5s;
}
h1 span:nth-child(6)
{
    animation-delay: 3.75s;
}
h1 span:nth-child(7)
{
    animation-delay: 4s;
}
/* ==================================================== */

/* NAV BAR
=========================================================== */
.wrapper
{
    width: 1170px;
    height: 100vh;
}
header
{
    /* background: url(Website/wallpaper.jpg); */
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar
{
    z-index: 3;
    float: right;
    list-style: none;
    position: absolute;
    top: 0%;
    left: 65%;
}
.navbar li a
{
    color: whitesmoke;
    text-decoration: none;
}
.navbar li
{
    color: whitesmoke;
    z-index: 3;
    text-decoration: none;
    padding: 20px 20px;
    font-family: 'Patua One', cursive;
    font-size: 25px;
    opacity: 0;
    display: inline-block;
    animation: fadein 1s linear forwards;
}
/* .navbar li:nth-child(1) 
{
    animation-delay: 6s;
}
.navbar li:nth-child(2)
{
    animation-delay: 6.1s;
}
.navbar li:nth-child(3)
{
    animation-delay: 6.2s;
}
.navbar li:nth-child(4)
{
    animation-delay: 6.3s;
} */

.social
{
    display: flex;
    justify-content: space-around;
    z-index: 3;
    list-style: none;
    position: absolute;
    top: 45%;
    left: 54%;
    overflow: hidden;
}

.social:nth-child(1)
{
    animation-delay: 4.1s;
}
.social:nth-child(2)
{
    animation-delay: 4.2s;
}
.social:nth-child(3)
{
    animation-delay: 4.3s;
}

.social a img
{
    height: 40px;
    width: 40px;
    /* filter: alpha(opacity=50); */
    margin: 10px;
    animation: fadeopacity 1s linear forwards;
}


.navbar li a:hover
{
    background: whitesmoke;
    color: #333;
}
.logo img
{
    width: 100px;
    float: left;
    height: auto;
}
.arrow
{
    position: relative;
    top: -2%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
}
.arrow span
{
    position: absolute;
    top: -10%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border: none;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    animation: arrow 1s linear infinite;
}
.arrow span p
{
    padding: 10px;
    opacity: 0;
}
.arrow span:nth-child(1)
{
    top: -30px;
    left: -30px;
    animation-delay: 0s;
}
.arrow span:nth-child(2)
{
    top: -15px;
    left: -15px;
    animation-delay: 0.2s;
}
.arrow span:nth-child(3)
{
    top: 0px;
    left: 0px;
    animation-delay: 0.4s;
}
.arrow span:nth-child(4)
{
    top: 15px;
    left: 15px;
    animation-delay: 0.6s;
}
.arrow span:nth-child(5)
{
    top: 30px;
    left: 30px;
    animation-delay: 0.8s;
}
@keyframes arrow
{
    0%
    {
        border-color: #fff;
    }
    20%
    {
        border-color: #fff;
    }
    30%, 100%
    {
        border-color: #222;
    }
}
/* =========================================================== */

/* BUTTONS ABOUT ME
=========================================================== */
.container
{
    /* border: white 2px solid; */
    height: 80%;   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 15%;
    width: 80%;

    margin: 0 10%;
}
.container .box
{
    position: relative;
    width: 200px;
    height: 200px;
    /* background: midnightblue; */
    /* margin: 5%; */
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.container .box .corgi
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: black; */
    transition: 0.5s;
    /* z-index: 1; */
}
.container .box:hover .corgi
{
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.aboutme {
    height: 100vh;
    background: gray;
}

.container .box .corgi img
{
    position: absolute;
    height: 50%;
    width: 50%;
    top: 21%;
    left: 26%;
}
.container .box .text-info
{
    position: absolute;
    top: 100%;
    height: 10px;
    text-align: center;
    color: antiquewhite;
    padding: 20px;
    box-sizing: border-box;
    transition: .75s;
    opacity: 0;
}
.container .box:hover .text-info
{
    top: 0;
    opacity: 1;
}
.container .box .text-info h3
{
    margin: 0;
    padding: 0;
    color: pink;
    font-size:  24px;
}
.testcontainer {
    /* display: flex; */
}

.tabs
{
    position: aboslute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: #ccc; */
    margin: 0;
    padding: 0;
}
.mainframe 
{
    position: absolute;
    height: 100vh;
    width: 80vw;
    background: url(astronomy-backlit-constellation-1421903.jpg);
    background-size: cover;
    
}
.mainframe .container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.tabs .tabception
{
    /* padding-top: 110px; */
    list-style: none;
    position: relative;
    width: 10vw;
    height: 100vh;
    border-left: 1px solid white;
    float: right;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    overflow: hidden;
}

.tabs .tabception
{
    background: url(astronomy-backlit-constellation-1421903.jpg);
    background-size: cover;
    background-position: left;
}

.tabs .tabception:hover
{
    width: 60%;
}
.tabs:hover li
{
    width: 10%;
}
.tabs .tabception .contactme
{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,8);
    box-sizing: border-box;
    color: #fff;
    opacity: 1;
}
.tabs .tabception:hover .contactme
{
    height: 100%;
    padding: 10%;
    bottom: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
    /* background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px */
    background: none;
}
.tabs .tabception .portfolio
{
    position: absolute;
    height: 100%;
    padding: 20% 10%;
    /* bottom: -100%; */
    left: 0;
    width: 100%;
    background: rgba(0,0,0,8);
    box-sizing: border-box;
    color: #fff;
    opacity: 0;
}
.tabs .tabception .portfolio h2
{
    margin-bottom: 100px;
}
.tabs .tabception:hover .portfolio
{
    bottom: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
}
.contact-heading
{
    color: white;
    margin: 50vh 0;
    transform: rotate(90deg);
}

.tabs .tabception:hover .contact-heading {
    display: none;
}
.portfolio-heading
{
    color: white;
    margin: 50vh 0;
    transform: rotate(90deg);
}
.tabs .tabception:hover .portfolio-heading {
    display: none;
}

html
{
    scroll-behavior: smooth;
}

.formcontainer
{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.formcontainer h2
{
    margin: 0 0 30px;
    padding: 0;
    color: whitesmoke;
    text-align: center;
}
.formcontainer .inputboxes
{
    position: relative;
}
.formcontainer .inputboxes input
{
    width:  100%;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom:  30px;
    border: 1px solid #fff;
    outline: none;
    background: transparent
}
.formcontainer .textbox 
{
    position: relative;
}
.formcontainer .textbox textarea
{
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
}
.formcontainer .textbox label
{
    position: absolute;
    top: 0;
    left: 10px;
    padding: 10px 0;
    font-family: 'Patua One', cursive;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.formcontainer .textbox textarea:focus ~ label,
.formcontainer .textbox textarea:valid ~ label
{
    top: -30px;
    left: 0;
    color: dodgerblue;
    font-size: 15px;
}
.formcontainer .inputboxes label
{
    position: absolute;
    top: 0;
    left: 10px;
    padding: 10px 0;
    font-family: 'Patua One', cursive;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.formcontainer .inputboxes input:focus ~ label,
.formcontainer .inputboxes input:valid ~ label
{
    top: -30px;
    left: 0;
    color: dodgerblue;
    font-size: 15px;
}
.formcontainer input[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: dodgerblue;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}